html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

table tr {
    margin: 0px;
    padding: 0px
}

.singleCell {
    display: table-cell;
    text-align: center;
    width: 209px;
}

.doubleCell {
    display: table-cell;
    text-align: center;
    width: 398px;
}

.input_data {
    font-size: 20pt;
    width: 50px;
    text-align: center;
}

.whiteBack {
    background-color: #ffffff;
    width: 100%;
}

span.info_positive {
    color: green;
}

span.info_negative {
    color: red;
}

.b-table {
    margin: 10px;
    border: 3px solid #ccc;
    border-radius: 25px;
    min-width: 900px;
    width: 100%;
}

.b-header-row {
    height: 100px;
}

.b-header2-row {
    height: 50px;
}

.b-expedite-row {
    height: 100px;
}

.b-regular-row {
    height: 600px;
}

.b-column {
    margin: 0px;
    display: table-cell;
    border: 1px solid #ccc;
    width: 12%;
}

.b-card {
    width: auto;
    height: 100px;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    border: 3px solid #ccc;
    font-size: 20px;
}
