html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.singleCell {
    display: table-cell;
    text-align: center;
    width: 209px;
}

.doubleCell {
    display: table-cell;
    text-align: center;
    width: 398px;
}

.input_data {
    font-size: 20pt;
    width: 50px;
    text-align: center;
}

.whiteBack {
    background-color: #ffffff;
    width: 100%;
}

span.info_positive {
    color: green;
}

span.info_negative {
    color: red;
}

.b-table {
    margin: 10px;
    border: 3px solid #ccc;
    border-radius: 25px;
    min-width: 900px;
    width: 100%;
    display: table;
}

.b-header-row {
    display: table-row;
    height: 100px;
}

.b-header2-row {
    display: table-row;
    height: 50px;
}

.b-expedite-row {
    display: table-row;
    height: 150px;
}

.b-regular-row {
    display: table-row;
    height: 600px;
}

.b-column {
    display: table-cell;
    width: 12%;
}

.b-column-x2 {
    display: table-cell;
    width: 25%;
}

.b-column-double {
    display: inline;
    float: left;
    width: 49%;
}

.b-header-row .b-column{

}

.b-header-row .b-column:not(:last-child) {
    border-right: 1px solid #ccc;
}

.b-header2-row .b-column {

}

.b-header2-row .b-column-x2 {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.b-header2-row .b-column:not(:last-child) {
    border-right: 1px solid #ccc;
}

.b-header2-row .b-column-double {
    height: 50px;
}

.b-header2-row .b-column-double:first-of-type {
    border-right: 1px dashed #ccc;
}

.b-expedite-row .b-column {
    border-top: 1px solid #ccc;
}

.b-expedite-row .b-column-x2 {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}


.b-expedite-row .b-column:not(:last-child) {
    border-right: 1px solid #ccc;
}

.b-expedite-row .b-column-double {
    height: 150px;
}

.b-expedite-row .b-column-double:first-of-type {
    border-right: 1px dashed #ccc;
}

.b-regular-row .b-column {
    border-top: 1px solid #ccc;
    height: 600px;
}

.b-regular-row .b-column-x2 {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.b-regular-row .b-column:not(:last-child) {
    border-right: 1px solid #ccc;
}

.b-regular-row .b-column-double {
    height: 600px;
}

.b-regular-row .b-column-double:first-of-type {
    border-right: 1px dashed #ccc;
}

.b-card {
    width: auto;
    height: 100px;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    border: 3px solid #ccc;
    font-size: 20px;
}
