<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kanban game</title>
    <style>
        .singleCell {
            display: table-cell;
            text-align: center;
            width: 209px;
        }

        .doubleCell {
            display: table-cell;
            text-align: center;
            width: 398px;
        }

        .input_data {
            font-size: 20pt;
            width: 50px;
            text-align: center;
        }

        .whiteBack {
            background-color: #ffffff;
        }

        span.info_positive {
            color: green;
        }

        span.info_negative {
            color: red;
        }
    </style>
</head>
<body>
<div id="app" style="display: table;">
    <fullscreen :fullscreen.sync="toggles.isFullscreen" ref="fullscreen">
        <div class="whiteBack">
            <div style="display: table-row;">
                <div class="singleCell">
                    <label for="readyLimit">⚠&nbsp;</label>
                    <input class="input_data" id="readyLimit" name="readyLimit" type="text" v-model="stages.ready.limit"/>
                </div>
                <div class="doubleCell">
                    <label for="analysisDices">🎲&nbsp;</label>
                    <input class="input_data" id="analysisDices" name="analysisDices" type="text" v-model="stages.analysis.diceCount"/>
                    /
                    <label for="analysisLimit">⚠&nbsp;</label>
                    <input class="input_data" id="analysisLimit" name="analysisLimit" type="text" v-model="stages.analysis.limit"/>
                </div>
                <div class="doubleCell">
                    <label for="developmentDices">🎲&nbsp;</label>
                    <input class="input_data" id="developmentDices" name="developmentDices" type="text" v-model="stages.development.diceCount"/>
                    /
                    <label for="developmentLimit">⚠&nbsp;</label>
                    <input class="input_data" id="developmentLimit" name="developmentLimit" type="text" v-model="stages.development.limit"/>
                </div>
                <div class="singleCell">
                    <label for="testingDices">🎲&nbsp;</label>
                    <input class="input_data" id="testingDices" name="testingDices" type="text" v-model="stages.testing.diceCount"/>
                    /
                    <label for="testingLimit">⚠&nbsp;</label>
                    <input class="input_data" id="testingLimit" name="testingLimit" type="text" v-model="stages.testing.limit"/>
                </div>
                <div class="singleCell">
                    <label for="deploymentDelay">⏳&nbsp;</label>
                    <input class="input_data" id="deploymentDelay" name="deploymentDelay" type="text" v-model="stages.deployed.delay"/>
                </div>
                <div class="singleCell">
                    <input @click="startToggle" id="startButton" name="startButton" type="button" v-bind:value="startButton"/>
                    <input @click="reset" id="resetButton" name="resetButton" type="button" v-bind:value="resetButton"/>
                    <input @click="toggles.isFullscreen = !toggles.isFullscreen" id="fullscreenButton" name="fullscreenButton" type="button" v-bind:value="fullscreenButton"/>
                </div>
            </div>
            <canvas height="1000" id="board" width="1700"></canvas>
                       <!--<h3 @click="toggles.isUtilOpen = !toggles.isUtilOpen" style="padding-left: 50px; cursor: pointer;">Utilization diagram</h3>-->
            <h3 style="padding-left: 50px;">Utilization
                <span id="utilInfo" v-bind:class="info.util.styleClass">[Utilization, %: {{info.util.value}} {{info.util.sign}}]</span>
            </h3>
            <!--  <div v-show="toggles.isUtilOpen">
                 <canvas height="1000" id="util" width="1700"></canvas>
             </div>-->
            <h3 @click="info.cfd.visible = !info.cfd.visible" style="padding-left: 50px; cursor: pointer;">
                Cumulative flow diagram
                <span id="cfdInfo" v-bind:class="info.cfd.styleClass">[How many issues is in progress: {{info.cfd.value}} {{info.cfd.sign}}]</span>
            </h3>
            <div v-show="info.cfd.visible">
                <canvas height="1000" id="cfd" width="1700"></canvas>
            </div>
            <h3 @click="info.cc.visible = !info.cc.visible" style="padding-left: 50px; cursor: pointer;">
                Control Chart
                <span id="ccInfo" v-bind:class="info.cc.styleClass">[Average issue cycleTime: {{info.cc.value}} {{info.cc.sign}}]</span>
            </h3>
            <div v-show="info.cc.visible">
                <canvas height="1000" id="cc" width="1700"></canvas>
            </div>
            <h3 @click="info.dd.visible = !info.dd.visible" style="padding-left: 50px; cursor: pointer;">
                Distribution diagram
                <span id="ddInfo" v-bind:class="info.dd.styleClass">[Expectation: {{info.dd.value}} {{info.dd.sign}}]</span>
            </h3>
            <div v-show="info.dd.visible">
                <canvas height="1000" id="dd" width="1700"></canvas>
            </div>
            <a href="https://timmson.github.io/fruit-report/" style="padding-left: 50px;">Read more about these diagrams (on Russian)</a>
        </div>
    </fullscreen>
</div>
<script src="main.js" type="application/javascript"></script>
</body>
</html>
