@import "~bootstrap/scss/bootstrap.scss";

$text-color: #000;
$border-color: #cccccc;
$cardBorder-color: #333333;
$ready-color: #b800dd;
$analysis-color: #ce1212;
$development-color: #1266cf;
$testing-color: #008100;
$deployed-color: #000000;

$column-width: 3px;

div.navbar a {
    font-size: 30px;
}

span.info_positive {
    color: green;
}

span.info_negative {
    color: red;
}

.b-table {
    min-width: 1000px;
    width: 98%;
}

.b-column {
    border-width: 0;
    border-style: solid;
    border-color: $border-color;
    width: 12%;
    vertical-align: top;
}

.b-estimation {
    margin: 1px;
    width: 8px;
    height: 8px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    float: left
}

.b-burned-analysis {
    background: $analysis-color;
}

.b-burned-development {
    background: $development-color;
}

.b-burned-testing {
    background: $testing-color;
}

.b-ready {
    border-color: $ready-color;
}

.b-analysis {
    border-color: $analysis-color;
}

.b-development {
    border-color: $development-color;
}

.b-done {
    border-color: $testing-color;
}

.b-deployed {
    border-color: $deployed-color;
}

.b-card {
    width: 95%;
    height: 50px;
    margin: 5px;
    padding: 15px;
    border: $column-width solid $border-color;
    font-size: 14px;
}

.b-header-row {
    height: 200px;

    .b-column {
        border-top-width: $column-width;
        border-left-width: $column-width;
    }

    .b-column:last-of-type {
        border-right-width: $column-width;
    }
}

.b-header2-row {
    height: 50px;

    .b-column {
        border-right-width: 0;
        border-left-width: $column-width;
    }

    .b-wip {
        border-left-color: $border-color;
        border-top-width: $column-width;
        border-top-style: dashed;
    }

   .b-inner-done {
        border-top-width: $column-width;
        border-top-style: dashed;
        border-left-width: $column-width;
    }

}

.b-expedite-row {
    height: 100px;

    .b-column {
        border-top-width: $column-width;
        border-top-color: $border-color;
        border-left-width: $column-width;

    }

    .b-column:last-of-type {
        border-right-color: $border-color;
        border-right-width: $column-width;
    }
}


.b-regular-row {
    height: 650px;

    .b-column {
        border-top-width: $column-width;
        border-top-color: $border-color;
        border-left-width: $column-width;
        border-bottom-color: $border-color;
        border-bottom-width: $column-width;
    }

    .b-column:last-of-type {
        border-right-color: $border-color;
        border-right-width: $column-width;
    }
}
