div.navbar a {
    font-size: 30px;
}

span.info_positive {
    color: green;
}

span.info_negative {
    color: red;
}

.b-table {
    min-width: 1200px;
    width: 98%;
}

.b-column {
    border-width: 0;
    border-style: solid;
    border-color: #ccc;
    width: 12%;
    vertical-align: top;
}

.b-estimation {
    margin: 1px;
    width: 6px;
    height: 6px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    /*display: block;*/
    float: left
}

.b-burned-analysis {
    background: #ce1212;
}

.b-burned-development {
    background: #1266cf;
}

.b-burned-testing {
    background: #008100;
}


.b-ready {
    border-color: #b800dd;
}

.b-analysis {
    border-color: #ce1212;
}

.b-development {
    border-color: #1266cf;
}

.b-done {
    border-color: #008100;
}

.b-deployed {
    border-color: #000;
}

.b-card {
    width: 95%;
    height: 50px;
    margin: 5px;
    padding: 15px;
    border: 3px solid #ccc;
    font-size: 14px;
}

.b-header-row {
    height: 100px;
}

.b-header-row .b-column {
    border-top-width: 3px;
    border-left-width: 3px;
}

.b-header-row .b-column:last-of-type {
    border-top-right-radius: 25px;
    border-right-width: 3px;
}

.b-header2-row {
    height: 50px;
}

.b-header2-row .b-column {
    border-right-width: 0;
    border-left-width: 3px;
}

.b-header2-row .b-wip {
    border-left-color: #ccc;
    border-top-width: 3px;
    border-top-style: dashed;
}

.b-header2-row .b-inner-done {
    border-top-width: 3px;
    border-top-style: dashed;
    border-left-width: 3px;
}

.b-expedite-row {
    height: 100px;
}

.b-expedite-row .b-column {
    border-top-width: 3px;
    border-top-color: #ccc;
    border-left-width: 3px;

}

.b-expedite-row .b-column:last-of-type {
    border-right-color: #ccc;
    border-right-width: 3px;
}

.b-regular-row {
    height: 650px;
}

.b-regular-row .b-column {
    border-top-width: 3px;
    border-top-color: #ccc;
    border-left-width: 3px;
    border-bottom-color: #ccc;
    border-bottom-width: 3px;
}

.b-regular-row .b-column:last-of-type {
    border-right-color: #ccc;
    border-right-width: 3px;
}
